.card-student {
  background-color: rgb(179, 167, 167);
  width: 300px;
  height: 400px;
  padding: 10px;
  margin: 10px;
  color: rgb(253, 253, 253);
  border-radius: 10px;
}
.card-student-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
span {
  font-weight: bold;
  color: rgb(17, 17, 17);
}
button {
  background-color: rgb(255, 230, 0);
  color: rgb(17, 17, 17);
  width: 200px;
  height: 30px;
  border-radius: 10px;
}
body {
  background-color: rgb(17, 17, 17);
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .card-student-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
