.App {
  text-align: center;
  justify-content: center;
  max-height: 100%;
}
h1 {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}
p {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: black;
}
